@font-face {
  font-family: "Pac-Font";
  src: url("./font/pac-font.ttf");
}

@font-face {
  font-family: "bit-wonder";
  src: url("./font/8-bit-wonder.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: bit-wonder, Arial, Helvetica;
  font-size: 10px;
}

header {
  height: 100px;
  position: relative;
  background: url("./images/brick-wall.jpg") center / 100% 400% no-repeat;
}

#main-title {
  font-family: Pac-Font;
  width: 800px;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.strd-font {
  font-family: bit-wonder;
}

 #pacman-title {
   margin: 0 30px;
   color: #426DFB;
   text-shadow: 0 0 3vw #2356FF;
   animation: neon 2s linear infinite;
  -moz-animation: neon 2s linear infinite;
  -webkit-animation: neon 2s linear infinite;
  -o-animation: neon 2s linear infinite;
 }

 .title-img {
  font-size: 3.5rem;
  color: #f0de3cda;
  text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
  
 }

 @keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

#instruction-toggle {
  color: whitesmoke;
  position: absolute;
  font-size: 0.8rem;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
}

#instruction-toggle:hover {
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.instruction-panel {
  background-color: rgba(6, 86, 167, 0.50);
  color: white;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 3px;
  transition: right 0.5s ease-out;
  text-align: center;
}

.instru-pan-hover {
  right: -290px;
}

.sub-instru {
  margin: 20px 10px;
}

.instru-text {
  margin-top: 10px;
}

.instruction-panel .ghost {
  background: url("./images/blinky-top.png") center / contain no-repeat ;
}

.instru-pic {
  width: 60px;
  background-color: white;
}

#content {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  background: url("./images/arcade-bg.jpg") center / cover no-repeat;
}

#game-box {
  width: 600px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-info-panel {
  background-color: rgba(6, 86, 167);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: -1;
  top: 0;
  transition: top 0.5s ease-out;
}

.game-info-panel .game-info {
  font-size: 0.8rem;
  text-align: center;
}

#game-window {
  background-color: black;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(19, 1fr);
  grid-template-columns: repeat(19, 1fr);
}

.message {
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: whitesmoke;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game-menu {
  width: 200px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  z-index: 99;
}

#lobby-background {
  width: 600px;
  height: 600px;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  background: url("https://media.giphy.com/media/3Z1fKb6plPLM3hMbLs/giphy.gif") center / contain no-repeat black ;
}

.bg-pause {
  background: rgba(137, 137, 137, 0.70) !important;
}

.not-displayed {
  display: none !important;
}

.btn {
  font-family: inherit;
  width: 100px;
  height: 30px;
}

#pacman {
  width: 25px;
  height: 25px;
  background: url("./images/pacman-right.png") center / contain no-repeat ;
  grid-row: 11;
  grid-column: 10;
  z-index: 10;
  place-self: center;
}

.ghost {
  width: 25px;
  height: 25px;
  z-index: 10;
  place-self: center;
}

#inky {
  grid-row: 10 / 11;
  grid-column: 9 / 10;
  background: url("./images/inky-top.png") center / contain no-repeat ;
}

#pinky {
  grid-row: 9 / 10;
  grid-column: 11 / 12;
  background: url("./images/pinky-top.png") center / contain no-repeat ;
}

#blinky {
  grid-row: 9 / 10;
  grid-column: 9 / 10;
  background: url("./images/blinky-top.png") center / contain no-repeat ;
}

#clyde {
  grid-row: 10 / 11;
  grid-column: 11 / 12;
  background: url("./images/clyde-top.png") center / contain no-repeat ;
}

.scared {
  background-image: url("./images/ghost-prey.png") !important;
}

.border {
  background: #2b52ff;
  color: #2b52ff;
  z-index: 2;
  padding: 2px;
}

.ball {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: yellow;
  place-self: center;
}

.powerball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 0, 200);
  place-self: center;
}


.instru-pan-is-hidden {
  right: -300px;
}

.game-info-pan-is-hidden {
  top: 50px;
}

#border-1 {
  grid-column: 1 / 20;
  grid-row: 1;
}

#border-2 {
  grid-column: 1;
  grid-row: 2 / 9;
}

#border-3 {
  grid-column: 10;
  grid-row: 2 / 4;
}

#border-4 {
  grid-column: 19;
  grid-row: 2 / 9;
}

#border-5 {
  grid-column: 3 / 5;
  grid-row: 3;
}

#border-6 {
  grid-column: 6 / 9;
  grid-row: 3;
}

#border-7 {
  grid-column: 12 / 15;
  grid-row: 3;
}

#border-8 {
  grid-column: 16 / 18;
  grid-row: 3;
}

#border-9 {
  grid-column: 3 / 5;
  grid-row: 5;
}

#border-10 {
  grid-column: 6;
  grid-row: 5 / 10;
}

#border-11 {
  grid-column: 8 / 13;
  grid-row: 5;
}

#border-12 {
  grid-column: 14;
  grid-row: 5 / 10;
}

#border-13 {
  grid-column: 16 / 18;
  grid-row: 5;
}

#border-14 {
  grid-column: 10;
  grid-row: 6 / 8;
}

#border-15 {
  grid-column: 3 / 5;
  grid-row: 7;
}

#border-16 {
  grid-column: 7 / 9;
  grid-row: 7;
}

#border-17 {
  grid-column: 12 / 14;
  grid-row: 7;
}

#border-18 {
  grid-column: 16 / 18;
  grid-row: 7;
}

#border-18 {
  grid-column: 16 / 18;
  grid-row: 7;
}

#border-19 {
  grid-column: 1 / 5;
  grid-row: 9;
}

#border-20 {
  grid-column: 8 / 13;
  grid-row: 9 / 11;
  background-color: black;
  border: #2b52ff 3px solid;
  color: black;
  padding-left: 2px;
}

#border-21 {
  grid-column: 16 / 20;
  grid-row: 9;
}

#border-22 {
  grid-column: 1 / 5;
  grid-row: 11;
}

#border-23 {
  grid-column: 6;
  grid-row: 11 / 14;
}

#border-24 {
  grid-column: 14;
  grid-row: 11 / 14;
}

#border-25 {
  grid-column: 16 / 20;
  grid-row: 11;
}

#border-26 {
  grid-column: 1;
  grid-row: 12 / 19;
}

#border-27 {
  grid-column: 8 / 13;
  grid-row: 12;
}

#border-28 {
  grid-column: 19;
  grid-row: 12 / 20;
}

#border-29 {
  grid-column: 3 / 5;
  grid-row: 13;
}

#border-30 {
  grid-column: 10;
  grid-row: 13 / 15;
}

#border-31 {
  grid-column: 16 / 18;
  grid-row: 13;
}

#border-32 {
  grid-column: 4;
  grid-row: 14;
}

#border-33 {
  grid-column: 8;
  grid-row: 14;
}

#border-34 {
  grid-column: 12;
  grid-row: 14;
}

#border-35 {
  grid-column: 16;
  grid-row: 14;
}

#border-36 {
  grid-column: 2;
  grid-row: 15;
}

#border-37 {
  grid-column: 6 / 9;
  grid-row: 15;
}

#border-38 {
  grid-column: 12 / 15;
  grid-row: 15;
}

#border-39 {
  grid-column: 18;
  grid-row: 15;
}

#border-40 {
  grid-column: 4;
  grid-row: 16;
}

#border-41 {
  grid-column: 10;
  grid-row: 16;
}

#border-42 {
  grid-column: 16;
  grid-row: 16;
}

#border-43 {
  grid-column: 3 / 5;
  grid-row: 17;
}

#border-44 {
  grid-column: 6 / 8;
  grid-row: 17;
}

#border-45 {
  grid-column: 9 / 12;
  grid-row: 17;
}

#border-46 {
  grid-column: 13 / 15;
  grid-row: 17;
}

#border-47 {
  grid-column: 16 / 18;
  grid-row: 17;
}

#border-48 {
  grid-column: 1 / 20;
  grid-row: 19;
}